<main class="container administration-panel">
    <h1><%= pageTitle %></h1>
    <div class="container-buttons">
        <a href="/newgroup" class="btn btn-yellow">New Group</a>
        <a href="/newparty" class="btn btn-blue">New Party</a>
        <a href="/edit-profile" class="btn btn-pink">Edit Profile</a>
        <a href="/profile-picture" class="btn btn-green">Profile Picture</a>
    </div>

    <div class="section-admin">
        <h2>Your Parties</h2>
        <ul>
            <li>
                <div class="info-admin">
                    <p class="date">Wednesday, 17 of June <%- year %></p>
                    <h3>Bubble Party Magic</h3>
                    <small>61 attendees</small>
                </div>
                <div class="actions container-buttons">
                    <a href="#" class="btn btn-purple">Edit</a>
                    <a href="#" class="btn btn-orange">Attendees</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
            <li>
                <div class="info-admin">
                    <p class="date">Saturday, 12 of October <%- year %></p>
                    <h3>LoveYou</h3>
                    <small>245 attendees</small>
                </div>
                <div class="actions container-buttons">
                    <a href="#" class="btn btn-purple">Edit</a>
                    <a href="#" class="btn btn-orange">Attendees</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
            <li>
                <div class="info-admin">
                    <p class="date">Saturday, 06 of December<%- year %></p>
                    <h3>PiratesMeeting</h3>
                    <small>24 attendees</small>
                </div>
                <div class="actions container-buttons">
                    <a href="#" class="btn btn-purple">Edit</a>
                    <a href="#" class="btn btn-orange">Attendees</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="section-admin">
        <h2>Your Groups</h2>
        <ul>
            <li>
                <div class="info-admin">
                    <h3>NetNerds San Francisco </h3>
                </div>
                <div class="actions container-buttons">
                    <a href="#" class="btn btn-purple">Edit</a>
                    <a href="#" class="btn btn-orange">Picture</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
            <li>
                <div class="info-admin">
                    <h3>Developers California</h3>
                </div>
                <div class="actions container-buttons">
                    <a href="#" class="btn btn-purple">Edit</a>
                    <a href="#" class="btn btn-orange">Picture</a>
                    <a href="#" class="btn btn-red">Delete</a>
                </div>
            </li>
        </ul>
    </div>
</main>