<main class="container forms-container no-padding">
    <h1><%- pageTitle %></h1>

    <form class="default-form" action="/change-password" method="POST">
        <div class="field">
            <label>Current Password</label>
            <input type="password" name="current" placeholder="Current Password">
        </div>
        <div class="field">
            <label>New Password</label>
            <input type="password" name="new" placeholder="New Password">
        </div>

        <div class="field send">
            <input type="submit" class="btn btn-green" value="Change Password"/>
        </div>
    </form>
</main>