<main class="container forms-container">
    <h1><%-pageTitle%></h1>
    <form method="POST" class="default-form">
        <legend>Delete Party? Once you delete a party, it can't be recovered!</legend>
        <div class="delete-group">
            <input class="btn btn-delete" type="submit" value="Delete Party">
        </div>
    </form>
</main>
