<main class="container container-forms">
    <h1><%-pageTitle%></h1>
    <form action="/login" class="default-form" method="POST" noValidate>
       <div class="field">
           <label for="e-mail">E-mail</label>
           <input type="email" name="email" id="e-mail" placeholder="Your Email">
       </div>
       <div class="field">
           <label for="password">Password</label>
           <input type="password" name="password" id="password" placeholder="Password">
       </div>
       <div class="field enviar">
           <input type="submit" class="btn btn-pink" value="Login">
       </div>
    </form>
</main>