<main class="container forms-container no-padding">
    <h1><%- pageTitle %></h1>
    <form action="/newgroup" class="default-form" method="POST" enctype="multipart/form-data">
        <div class="field">
            <label>Name</label>
            <input type="text" name="name" placeholder="Group Name">
        </div>
        <div class="field description">
            <label>Description</label>
            <div class="container-editor">
                <input id="x" type="hidden" name="description">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="field">
            <label>Category</label>
            <select name="categoryId">
                <option value="" selected disabled hidden>
                    -- Select Category --
                </option>
                <% categories.forEach( category => { %>
                    <option value="<%= category.id %>">
                    <%= category.name %>
                    </option>
                <% });%>
            </select>
        </div>
        <div class="field send-btn">
            <label>Picture</label>
            <input type="file" name="image">
        </div>
        <div class="field">
            <label>Website</label>
            <input type="url" name="url" placeholder="Url">
        </div>
        <div class="field send">
            <input class="btn btn-pink" type="submit" value="New Group">
        </div>
    </form>
</main>