<main class="container assistants">
    <h1><%= pageTitle %></h1>
    <% if(assistants.length > 0){ %>
    <ul class="list-assistants">
        <% assistants.forEach(assistant => { %>
            <li>
                <% if(assistant.image){ %>
                    <img src="/uploads/profiles/<%=assistant.image%>" alt="Assistant Picture">
                <% } else { %>
                    <img src="/img/pinkgreenlogo.png" alt="Partyseeker Default Profile Picture">
                <% } %>
                <div class="text">
                    <%= assistant.name %>
                </div>
            </li>
        <% }) %>
    </ul>
    <% } else { %>
        <p class="no-assistants">No attendees yet</p>
    <% } %>
</main>