<main class="container container-forms">
     <h1><%-pageTitle%></h1>
     <form class="default-form" action="/signup" method="POST" noValidate>
        <div class="field">
            <label for="e-mail">E-mail</label>
            <input type="email" name="email" id="e-mail" placeholder="Your Email">
        </div>
        <div class="field">
            <label for="name">Username</label>
            <input type="text" name="name" id="name" placeholder="Username">
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm">
        </div>
        <div class="field enviar">
            <input type="submit" class="btn btn-pink" value="Create Account">
        </div>
     </form>
</main>