html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Mogra', cursive;
    background: #b2fefa; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, #0ed2f7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, #0ed2f7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #3f3f3f;
}
h1,h2{
    font-family: 'Leckerli One', cursive;
    text-align: center;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    text-align: left;
    font-family: 'Poltawski Nowy', serif;
    font-size: 2rem;
    font-weight: 700;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;padding: 0;
}
p {
    font-family: 'Poltawski Nowy', serif;
    line-height: 2;
}
input {
    font-family: 'Poltawski Nowy', serif;
}
select {
    font-family: 'Comme', sans-serif;
}

/* COMPONENTS */
.alerts {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto;
}
.alert {
    text-align: center;
    font-size: 16px;
    display: block;
    color: white;
    font-weight: 700;
    padding: .5rem 4rem;
    border-radius: 0.5rem;
}
.error {
    background-color: #d10e00;
    font-family: 'Comme', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.success {
    background-color: rgb(0, 255, 128);
    color:rgb(0, 0, 0);
    font-family: 'Comme', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

/** buttons **/
.btn {
    padding: 1rem 4rem;
    text-align: center;
    font-family: 'Comme', sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color:rgb(255, 255, 255);
    width: 100%;
    display: block;
    flex : 0 0 100%;
}
@media (min-width: 768px) {
    .btn {
        width: auto;
        display: inline-block;
        flex: 0 0 auto;
    }
}

.btn:hover {
    cursor: pointer;
}
.btn-yellow {
    background-color: #fae100;
}
.btn-pink {
    background-color: #ff48c2;
}
.btn-cyan {
    background-color: cyan;
}
.btn-blue {
    background-color: #132bff;
}
.btn-orange {
    background-color: #ff6434;
}
.btn-green {
    background-color: #07e000;
}
.btn-purple {
    background-color: #963aff;
}
.btn-red {
    background-color: #ff3a2c;
}

.btn-delete {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid rgb(201, 0, 0);
}
.btn-delete:hover {
    background: red;
    color: white;
}

/** Grid **/
.grid {
    display: grid;
    grid-column-gap: 2rem;
}
.columnas-2 {
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width:768px) {
    .columnas-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .columnas-md-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}
/** Card Component **/
.card {
    border: 1px solid #E8E8E8;
    margin-bottom: 2rem;

}
.card .card-text {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}
.card h3,
.info-admin h3 {
    font-size: 1.8rem;
    margin: .6rem 0;
    padding: .5rem 0;
    font-family: 'Poltawski Nowy', serif;
    font-weight: 700;
    color: #484349;
}
.card .date,
.info-admin .date {
    font-size: .8rem;
}
.card p {
    margin: 0;
}

.info-author {
    display: flex;
    justify-content: space-between;
}
.info-author .info {
    flex: 1;
    margin-left: 2rem;
}

.info-author .image {
    border-radius: 50%;
    background-color: #e1e1e1;
    height: 50px;
    width: 50px;
}
.info-author .author {
    font-weight: 700;
    margin-top: .5rem;
}
.info-author p {
    margin: 0;
}


/** layout**/
.site-header {
   text-align: center;
    margin-top: 1rem;
}
@media (min-width:768px){
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
nav.nav a {
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}
nav.nav a:first-child {
    color: #ff1878;
    font-weight: 700;
    border-right: 3px solid #10be00;
}

/** hero **/
.hero {
    height: 38rem;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.hero h1 {
    max-width:800px;
    color: white;
}

/** Buscador Inicio **/
.seeker-inicio {
    padding:3rem 0;
    background-color: #F2F2F2;
}
.seeker-inicio h2 {
    padding: 1rem 0 2rem 0;
    margin: 0;
}

.seeker-inicio form {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form select,
form textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 0;
    color: #888888;
    border: 1px solid #A8A6A8;
    padding: 1.1rem;
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .seeker-inicio form {
        flex-direction: row;
        align-items: flex-start;
    }
    .seeker-inicio form select,
    .seeker-inicio form input[type="text"] {
        margin-right: 1rem;
    }
    .seeker-inicio input {
        flex: 1;
    }
}

/** Categories **/
main.categories {
    background-color: #F2F2F2;
    padding: 2rem 0;
    margin-top: 3rem;
}
/* Logo Header */
a.header-logo {
    max-width: 50%;
}

.list-categories p {
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem;
    display: block;
}
@media (min-width:768px) {
    .list-categories li p {
        font-size: 1.4rem;
    }
}
.list-categories li {
    margin-bottom: 1rem;
}
.list-categories li img {
    transition: transform .3s ease;
}
.list-categories li:hover img{
    transform: scale(0.95);

}

/** Characteristics **/
.partyseeker-bg {
    background: linear-gradient(
        to bottom,
        #B8336A 0%,
        #B8336A 50%,
        #068D9D 50%,
        #068D9D 100%
    );

    padding: 5rem 0;
}
@media (min-width:768px) {
    .partyseeker-bg {
        background: linear-gradient(
            to right,
            #B8336A 0%,
            #B8336A 50%,
            #068D9D 50%,
            #068D9D 100%
        );
    }
}
.partyseeker  {
    color: white;
    width:90%;
}
.partyseeker  h3 {
    font-size: 2.4rem;
}
.partyseeker  p {
    font-size: 1.4rem;
}
/** Footer **/
.site-footer {
    margin-top: auto;
    padding: 2rem 0 2rem 0;
    text-align: center;
}
.site-footer p {
    margin: 0;
}
@media (min-width:768px) {
    .site-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** Crear Cuenta **/
main.forms-container {
    max-width: 900px;
    width:95%;
    padding: 3rem 0;
}
.no-padding {
    padding: 0!important;
}

.default-form .field {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    /* justify-content: flex-end; */
}

.default-form .field input {
    border-radius: 0.5rem;
}
.field.actions {
    justify-content: space-between;
    padding: 1rem 0;
}
.field.send {
    justify-content: flex-end;
}
.default-form .field label {
    flex: 0 0 120px;
    font-size: 1.2rem;
}
.field .img-label {
    margin-bottom: auto;
}
.default-form .field input[type="text"],
.default-form .field input[type="password"],
.default-form .field input[type="email"],
.default-form .field input[type="url"],
.default-form .field input[type="date"],
.default-form .field input[type="time"],
.default-form .field input[type="number"],
.default-form .field textarea,
.default-form .field select{
    margin: 0;
    flex: 1;
    border-radius: 0.5rem;
}
.default-form legend {
    color: #000000;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: 'Poltawski Nowy', serif;
    margin: 4rem auto 4rem auto;
}
.default-form.comments .field {
    align-items: flex-start;
}
.default-form .field textarea {
    height: 10rem;
}
.container-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Poltawski Nowy', serif;

}
trix-editor  {
    display: block;
}
trix-editor h1 {
    text-align: left!important;
}
.field.description label {
    display: block;
    margin-bottom: 2rem;
    align-self: flex-start;
    padding-top: 4rem;
}
trix-toolbar,
trix-editor {
    background-color: white!important;
}
trix-toolbar {
    padding: 1rem;
}
trix-editor {
    font-size: 1.2rem;
    min-height: 20rem!important;
    padding: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
trix-editor h1,
trix-editor blockquote {
    font-family: 'Poltawski Nowy', serif;
    color: black;
}
trix-toolbar .trix-button-group {
    margin-bottom: 0;
}
trix-toolbar .trix-button--icon-strike {
    display: none;
}

/** Administración **/
.administration-panel {
    padding: 0 0 4rem 0;
}
.container-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.container-buttons a {
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .container-buttons {
        display: flex;
        flex-direction: row;
    }
    .container-buttons a {
        flex: 1;
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .container-buttons a:last-of-type{
        margin-right: 0;
    }
}

/** Listado de Eventos admin**/
.section-admin{
    padding-top: 2rem;
}
.section-admin li {
    padding: 1rem 0;
    border-bottom:  3px solid #E6E6E6;
}

.section-admin li:last-of-type{
    border-bottom: none;
}
@media (min-width:768px) {
    .section-admin li {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}
.section-admin .date,
.section-admin h3 {
    margin: 0;
}
.info-admin {
    flex: 0 0 35%;
    margin-right: 2rem;
}
.info-admin small {
    font-family: 'Poltawski Nowy', serif;
    font-weight: 700;
    font-size: .8rem;
}
.actions.container-buttons a {
    flex: 1;
}
.actions.container-buttons {
    width: 100%;
}

/** Single Eventos **/

.header-event {
    border-top: 4px solid #EAEAEA;
    padding: 5rem 0;
}
@media (min-width:768px) {
    .header-event .container {
        display: flex;
        justify-content: space-between;
    }
}
.event-summary h1 {
    font-family: 'Poltawski Nowy', serif;
    text-align: left;
    font-size: 2rem;
}
/** Asistencia **/
.attendance-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.attendance-question p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
.attendance-options {
    display: flex;
    justify-content: space-between;
}
.attendance-options a{
    flex: 1;
}
.attendance-options a:first-of-type{
    margin-right: 2rem;
}
.content-event {
    background-color: #F2F2F2;
    padding: 5rem 0;
}
@media (min-width:768px) {
    .content-event .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .content-event .info-event {
        flex: 0 0 60%;
    }
    .content-event .info{
        flex: 0 0 calc(40% - 2rem);
    }
}

/** Asistentes **/
.assistants .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.assistants .title a {
    color: #068D9D;
    font-weight: 700;
    font-size: 1.4rem;
}
.list-assistants {
    display: flex;
    justify-content: space-between;

}
.list-assistants li {
    flex: 0 0 calc(33.3% - 1rem);
    height: 200px;
    background-color: white;
    border: 1px solid #C7C7C7;
}

.comment {
    display: flex;
    margin-bottom: 2rem;
}
.comment .image {
    flex: 0 0 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 2rem;
}
.comment .text {
    padding: 2rem;
    border: 1px solid #C7C7C7;
    background-color: white;
}
.comment .text p {
    margin: 0;
}


/** Sidebar **/
.content-event aside {
    background-color: white;
    border: 1px solid #C7C7C7;
}
.content-event aside > div {
    padding: 1rem  0 1rem 5rem;
    background-size: 50px;
    background-position: center left;
    background-repeat: no-repeat;
    margin: 2rem;
}
.content-event aside  p {
    margin: 0;
}

aside .date {
    background-image: url(../img/icono-hora.svg);
    margin-bottom: 2rem;
}
aside .location {
    background-image: url(../img/icono-location.svg);
}
aside img {
    display: block;
}

trix-toolbar {
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font-family: 'Comme', sans-serif;
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #A8A6A8;
}

.groups-p {
    text-align: center;
    font-size: 1.5rem;
}
.delete-group {
    display: flex;
    justify-content: space-around
}