/* fonts:
font-family: 'Alegreya SC', serif;
font-family: 'Grandstander', cursive;
font-family: 'Gluten', cursive;
font-family: 'Livvic', sans-serif;
font-family: 'Sansita Swashed', cursive;
font-family: 'Urbanist', sans-serif; */
html {
    height: 100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Grandstander', cursive;
    background: #c6fffc; /* fallback for old browsers */
    background-image: linear-gradient(to bottom, #ffffffc6, #ffffffbb, #44f3ffe1), url('../img/globes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #3f3f3f;
    position: relative;        /* for the footer to move with the page size */
    min-height: 100%;          /* for the footer to be at the bottom */

}
h1,h2{
    text-align: center;
}
h1 {
    font-size: 3.2rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .container {
        max-width: 92%;
    }
}

img {
    max-width: 100%;
    border-radius: 0.5rem;
}
ul {
    list-style: none;padding: 0;
}
p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}
input {
    font-family: 'Grandstander', cursive;
}
select {
    font-family: 'Livvic', sans-serif;
}
span {
    color: rgb(255, 0, 0);
    font-weight: 100;
    overflow: hidden;
}
.required-field p {
    font-size: 1rem;
    margin: -15px auto;
}
/* COMPONENTS */
.alerts {
    max-width: 42rem;
    width: 95%;
    margin: 0 auto;
}
.alert {
    text-align: center;
    font-size: 16px;
    display: block;
    color: white;
    font-weight: 700;
    padding: .5rem 4rem;
    border-radius: 0.5rem;
    font: message-box;
}
.error {
    background-color: #da2f26;
    font-weight: 400;
    font-size: 1.2rem;
}
.success {
    background-color: rgb(0, 255, 128);
    color:rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1.2rem;
}

/** buttons **/
.btn {
    padding: 1rem 1rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.348);
    background-color: transparent;
    color:rgb(255, 255, 255);
    display: block;
    font-family: 'Grandstander', cursive;
}

@media (min-width: 768px) {
    .btn {
        width: auto;
        display: inline-block;
        flex: 0 0 auto;
    }
}
/* Neon h2 */
.neon-pink {
    font-weight: 700;
    letter-spacing: 2px;
    /* text-decoration: 1px dotted rgba(255, 255, 255, 0.963) line-through; */
    color: #ffffff;
    animation: neon1 1.2s ease-in-out infinite alternate;
}
@keyframes neon1 {
    from {
      text-shadow: 0 0 10px #000000, 0 0 20px #ff00cc, 0 0 30px #ff00e1, 0 0 40px #ff00ea,
        0 0 70px #ff00ae, 0 0 80px #ff00bb, 0 0 100px #ff00ae, 0 0 150px #ff0099a5;
    }
    to {
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff,
        0 0 35px #ff00a2, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 75px #ff00d0;
    }
}

/* glow on button */
.glow-on-hover {
    width: 220px;
    /* height: 55px; */
    border: none;
    outline: none;
    color: #fff;
    background: #7700ff41;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8000ff39;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.btn:hover {
    cursor: pointer;
}
.btn-yellow {
    background-color: #edd500;
}
.btn-pink {
    background-color: #ff48c2;
}
.btn-cyan {
    background-color: rgb(0, 230, 230);
}
.btn-blue {
    background-color: #132bff;
}
.btn-orange {
    background-color: #ff6434;
}
.btn-green {
    background-color: #07e000;
}
.btn-purple {
    background-color: #963aff;
}
.btn-red {
    background-color: #ff3a2c;
}
.btn-lake {
    background-color: #00a0c4;
}

.btn-delete {
    background-color: #ffffff;
    color: #000000;
    border: 3px solid rgb(201, 0, 0);
}
.btn-delete:hover {
    background: red;
    color: white;
}

/** Grid **/
.grid {
    display: grid;
    grid-column-gap: 2rem;
}
.columns-2 {
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width:768px) {
    .columns-md-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .columns-md-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:768px) {
    .grid {
        display: block;
    }
}
/** Card Component **/
.card {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 54px 1px rgba(254,255,219,1);
-moz-box-shadow: 0px 0px 54px 1px rgba(254,255,219,1);
box-shadow: 0px 0px 54px 1px rgba(254,255,219,1);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}
.card .card-text {
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}
.card h3,
.info-admin h3 {
    font-size: 1.8rem;
    margin: .6rem 0;
    font-weight: 700;
    color: #1f1f1f;
}

@media (max-width:768px) {
    .info-admin h3 {
        font-size: 2rem;
    }
}
.card .date,
.info-admin .date {
    font-family: 'Urbanist', sans-serif;
}
.card p {
    margin: 0;
}
.card img {
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}
/* .from-now {
    font-weight: bold;
} */
.info-author {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-author .info {
    flex: 1;
    margin-left: 2rem;
}

.info-author .image img{
   width: 8rem;
   height: 8rem;
   border-radius: 50%;
   filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.734));
   /* background-color: #31d000; */
}
.info-author .author {
    font-weight: 700;
    margin-top: .5rem;
}
.info-author p {
    margin: 0;
}


/** layout**/
.site-header {
   text-align: center;
    margin-top: 1rem;
}
@media (min-width:768px){
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
nav.nav a {
    font-size: 1.5rem;
    padding: 1rem;
    display: inline-block;
}
nav.nav a:first-child {
    color: #ff1878;
    font-weight: 700;
    border-right: 3px solid #10be00;
}
@media (max-width:768px){
    nav .copyright {
        font-size: 1rem;
    }
}

/** hero **/
.hero {
    height: 28rem;
    background-image: url(../img/confetti.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.hero h1 {
    text-transform: capitalize;
    max-width:800px;
    color: rgb(255, 255, 255);
    text-shadow: -4px 4px 3px #000000;
    font-weight: 500;
    letter-spacing: 2px;
}

/** Init seeker **/

.seeker-start {
    padding:3rem 0;
    background-color: #7300ff48;
    max-width: -webkit-fill-available;
}
.seeker-start h2 {
    padding: 1rem 0 2rem 0;
    margin: 0;
}

.seeker-start form {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"],
form input[type="date"],
form input[type="time"],
form input[type="number"],
form select,
form textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border-radius: 0;
    color: #888888;
    border: 1px solid #A8A6A8;
    padding: 1.1rem;
    margin-bottom: 2rem;
}
@media (min-width:768px) {
    .seeker-start form {
        flex-direction: row;
        align-items: flex-start;
    }
    .seeker-start form select,
    .seeker-start form input[type="text"] {
        margin-right: 1rem;
        border-radius: 0.5rem;
    }
    .seeker-start input {
        flex: 1;
    }
}

/** Categories **/
main.categories {
    background-color: #ff18ba30;
    padding: 1rem 0;
    margin-top: 3rem;
}
/* Logo Header */
a.header-logo {
    max-width: 50%;
}
.header-logo img{
    margin-bottom: 2rem;
}
.list-categories img{
    height: auto;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}
.list-categories p {
    text-align:center;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem;
    display: block;
}
@media (min-width:768px) {
    .header-logo img{
        margin: 0;
    }
    .list-categories li p {
        font-size: 1.4rem;
    }
}
.list-categories li {
    margin-bottom: 1rem;
}
.list-categories li img {
    transition: transform .3s ease;
}
.list-categories li:hover img{
    transform: scale(0.95);

}

/** Characteristics **/
.partyseeker-bg {
    background: linear-gradient(
        to bottom,
        #ff00c8af 0%,
        #ea00ffc1 50%,
        #1e00ffa0 50%,
        #0000ffc8 100%
    );
}
@media (min-width:768px) {
    .partyseeker-bg {
        background: linear-gradient(
            to right,
            #ff00c8af 0%,
            #ea00ffc1 50%,
            #00ff2f9e 50%,
            #2fff0044 100%
        );
    }
    .partyseeker .section-1 {
        margin: 5rem auto;
    }
    .partyseeker .section-2 {
        margin: 2rem auto;
    }
}

.partyseeker  {
    color: white;
    text-align: center;
    column-gap: 10rem;
}
.partyseeker  h3 {
    font-size: 2.5rem;
    text-shadow: 4px 3px 0px #000000;
}


.partyseeker  p {
    margin-top: 0;
    font-size: 1.8rem;
    text-shadow: 1px 1px 3px #000000;
}
@media (max-width:768px) {
    .section-info h3{
        text-align: center;
        margin: 0 auto;
        text-shadow: 1px 1px 3px #000000;
    }
    .partyseeker p{
        margin: 0 auto;
        font-size: 1rem;
        text-shadow: 1px 1px 3px #000000;
    }
    .partyseeker h3{
        font-size: 1.5rem;
        padding: 3.5rem;
        padding-bottom: 1rem;
    }
    .partyseeker .section-1 h3{
        padding-bottom: 0.5rem;
    }
    .partyseeker .section-2 h3{
        padding-top: 3.5rem;
    }
    .partyseeker .section-2 p{
        padding-bottom: 1.5rem;
    }
}

/** Footer **/
.site-footer {
    margin-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}
.site-footer p {
    margin: 0;
}
@media (min-width:768px) {
    .site-footer {
        position: initial;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** New Account **/
main.forms-container {
    max-width: 900px;
    width:95%;
}
@media (max-width:768px) {
    h1 {
        font-size: 2.2rem;
    }
    main.forms-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .field.description label {
        display: block;
        align-self: flex-start;
        padding-top: 0.5rem;
    }
}
.no-padding {
    padding: 0!important;
}
.img-btn{
    padding: 1rem 0;
}
.img-btn label{
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 700;
}
/* .img-btn{
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
} */
.default-form .field {
    display: flex;
    align-items: baseline;
    margin: 1rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.default-form .description {
    display: block;
}

.edit-picture .field{
    justify-content: normal;
}
.edit-picture .field.send {
    justify-content: flex-start;
    margin-top: 1rem;
}

.default-form .field input {
    border-radius: 0.5rem;
}

.field.actions {
    justify-content: space-between;
    padding: 1rem 0;
}
.field.send {
    justify-content: flex-end;
}
.default-form .field label {
    flex: 0 950px;
    font-size: 1.2rem;
    font-weight: bold;
}
.field .img-label {
    margin-bottom: auto;
}
.default-form .field input[type="text"],
.default-form .field input[type="password"],
.default-form .field input[type="email"],
.default-form .field input[type="url"],
.default-form .field input[type="date"],
.default-form .field input[type="time"],
.default-form .field input[type="number"],
.default-form .field textarea,
.default-form .field select{
    margin: 0;
    flex: 1;
    border-radius: 0.5rem;
}
.default-form legend {
    color: #2e2e2e;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1rem auto;
}
.default-form.comments .field {
    align-items: flex-start;
}
.default-form .field textarea {
    height: 10rem;
}
.container-editor {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
trix-editor  {
    display: block;
}
trix-editor h1 {
    text-align: left!important;
}
.field.description label {
    display: block;
    /* margin-bottom: 2rem; */
    align-self: flex-start;
}
trix-toolbar,
trix-editor {
    background-color: white!important;
}
trix-toolbar {
    padding: 1rem;
}
trix-editor {
    font-size: 1.2rem;
    min-height: 20rem!important;
    padding: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
trix-editor h1,
trix-editor blockquote {
    font-family: 'Grandstander', cursive;
    color: black;
}
trix-toolbar .trix-button-group {
    margin-bottom: 0;
}
trix-toolbar .trix-button--icon-strike {
    display: none;
}

/* Administration */
/* .administration-panel {
    padding: 0 0 4rem 0;
} */
.container-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width:95%;
}
.container-buttons a {
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .container-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .container-buttons a {
        flex: 1;
        margin-bottom: 0;
        margin-right: 2rem;
    }
    .container-buttons a:last-of-type{
        margin-right: 0;
    }
}

/* Event List Admin */
.section-admin .neon-pink{
    padding: 0.5rem;
    margin: 2rem auto 1rem auto;
}
.section-admin li {
    border-bottom:  3px solid #ffffff;
}

.section-admin li:last-of-type{
    border-bottom: none;
}
@media (min-width:768px) {
    .section-admin{
        padding-top: 2rem;
    }
    .section-admin li {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.section-admin .date,
.section-admin h3 {
    font-weight: 700;
}
.info-admin {
    flex: 0 0 35%;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.info-admin small {
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: .8rem;
}
.actions.container-buttons a {
    flex: 1;
}
.actions.container-buttons {
    width: 100%;
}

/* Assistance */

.party-header {
    /* border-top: 4px solid #EAEAEA; */
    padding: 3rem 0;
}
@media (min-width:768px) {
    .party-header .container {
        display: flex;
        justify-content: space-between;
    }
}
.party-summary h1 {
    font-family: 'Livvic', sans-serif;
    text-align: left;
    font-size: 2rem;
}
/** Asistencia **/
.attendance-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.attendance-question p {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
.attendance-options {
    display: flex;
    justify-content: space-between;
}
.attendance-options a{
    flex: 1;
}
.attendance-options a:first-of-type{
    margin-right: 2rem;
}
.party-content {
    background-color: #ffffff78;
    padding: 2rem 0;
}
@media (min-width:768px) {
    .party-content .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .party-content .party-info {
        flex: 0 0 60%;
    }
    .party-content .info{
        flex: 0 0 calc(40% - 2rem);
    }
}

/* Assistants */
.assistants .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.assistants .title a {
    color: #068D9D;
    font-weight: 700;
    font-size: 1.4rem;
}
.list-assistants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.list-assistants .text{
    flex: 1;
    font-size: 1rem;
}
.assistants ul{
    display: flex;
    padding: unset;
}
.list-assistants .image {
    margin-right: 3rem;
    border-radius: 50%;
    background-color: #e1e1e1;
    height: 70px;
    width: 70px;
    overflow: hidden;
}

.list-assistants li {
    display: flex;
    align-items: center;
    padding : 1rem;
    border: 3px solid #EAEAEA;
    border-bottom: none;
    flex: 0 0 calc(33.3% - 1rem);
    background-color: white;
}
.list-assistants li:last-of-type {
    border-bottom: 3px solid #EAEAEA;
}
@media (min-width: 768px) {
    .list-assistants {
        max-width: 600px;
        margin: 0 auto;
    }
}
.no-assistants {
    text-align: center;
}

.comment {
    display: flex;
    margin-bottom: 2rem;
}
.comment .image {
    flex: 0 0 80px;
    height: 80px;
    background-color: #333;
    border-radius: 50%;
    margin-right: 2rem;
}
.comment .text {
    padding: 2rem;
    border: 1px solid #C7C7C7;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
}
.comment .text p {
    margin: 0;
}


/** Sidebar **/
.party-content aside {
    background-color: white;
    border: 1px solid #C7C7C7;
}
.party-content aside > div {
    padding: 1rem  0 1rem 5rem;
    background-size: 50px;
    background-position: left;
    background-repeat: no-repeat;
    margin: 2rem;
}
.party-content aside  p {
    margin: 0;
}

aside .date {
    background-image: url(../img/time-calendar.svg);
    margin-bottom: 2rem;
}
aside .location {
    background-image: url(../img/location-icon.svg);
}

#party-location {
    max-width: 100%;
    padding: 0!important;
    /* margin: 0!important; */
    height: 400px;
    border-radius: 0.5rem;
}
aside img {
    display: block;
}
/* aside .information {
    margin-right: 2rem;
} */

trix-toolbar {
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
@media (max-width:768px) {
    trix-toolbar .trix-button--icon {
        font-size: x-small;
    }
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    width: 50%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #A8A6A8;
}

.groups-p {
    text-align: center;
    font-size: 1.5rem;
}
.user-p {
    text-align: left;
    font-size: 1.5rem;
}
.delete-group {
    display: flex;
    justify-content: space-around
}

#map { height: 300px; border-radius: 0.5rem; }
#seeker-input{}
.information {
    text-align: center;
    border-radius: 0.5rem;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    font-size: 1rem;
}

.date-location-info {
    text-align: center;
    border-radius: 0.5rem;
    margin-left: 2.35rem;
}
.date-location-info{
    /* word-break: break-all; */
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width:768px) {
    .date-location-info {
        margin: 0 auto;
    }
}

/* div .description{
    line-height: 2;
} */
div .description h1{
    font-size: 2rem;
}
#message {
    margin-top: 2rem;
    text-align: center;
}