<h1 style="color: black; text-align: center; font-size: 13px; font-family: Arial, Helvetica, sans-serif;" >Account Confirmation</h1>
<p style="color: black; text-align: center; font-size: 12px; font-family: Arial, Helvetica, sans-serif;">"This is the first step before starting to dance together!" Confirming your account is the next movement:</p>

<a style="display: block; font-family: fantasy; padding: 1rem; background-color: #2f00af; color: white; text-transform: uppercase; text-align: center; text-decoration: none; "  href="<%= url  %>">Account confirmation</a>

<p style="color: black; text-align: center; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">If you cannot access this link, please visit: <%=url%></p>

<p style="color: black; text-align: center; font-size: 11px; font-family: Arial, Helvetica, sans-serif;">Did you recibe this email without signing up? <a href="<%= url  %>">Click here</a></p>
